<p>
  <div class="card">
    <strong>@<%= comment.commenter %>:</strong>
    <%= comment.body %>
  </div>
</p>

<p>
<%= link_to "Destroy Comment", [comment.post, comment], data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
</p>